nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(190,87,132,255);
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
 li{
    list-style-type: none;
    margin: 0px 15px;
}
li a{
    text-decoration: none;
    color: #ffff;
    font-weight:500;
    font-size: 1.3rem;
    transition: .6s;
}
li a:hover{
    color: #f1cd32;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.192);
}

img{
    width: 15%;
}