.controle_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.controle_form label{
    margin-bottom: .6rem;
    font-weight:400;
    color: rgba(190,87,132,255);
}
.controle_form input{
    padding: .7rem;
    border-radius: 0px;
    border: none;
}
.controle_form input::placeholder{
    color: rgba(0, 0, 0, 0.664);
}